body {
    background-image: url("image/bg1.jpg!sw800");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: Arial, sans-serif;
    text-align: center;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.box {
    background-color: #ffffff;
    width: auto;
    height: auto;
    border-radius: 40px;
    padding: 10px;
    margin: 100px;
    position: relative;
}

h1 {
    font-size: 50px;
    animation: slideDown 2s ease-out;
    position: relative;
    margin-top: 20px;
    -webkit-text-stroke: 1px black;
    background: -webkit-linear-gradient(#eee, #ff65d3);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    top: -100px;
    opacity: 0;
    transition: top 2s ease-out, opacity 2s ease-out;
}

body:hover h1 {
    top: 0;
    opacity: 1;
}

p {
    font-size: 30px;
}

.container {
    text-align: center;
}

.cake {
    animation: bounce 2s infinite;
    margin-top: 20px;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

button {
    background-image: linear-gradient(to right, #DD5E89 0%, #F7BB97  51%, #DD5E89  100%);
    color: white;
    background-size: 200% auto;
    padding: 15px 45px;
    border: 3px solid white;
    cursor: pointer;
    margin: auto;
    margin-bottom: 60px;
    font-size: 22px;
    margin-top: 20px;
    box-shadow: 0 0 20px #eee;
    border-radius: 12px;
    display: block;
    transition: 0.5s;
}

button:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.cake img {
    max-width: 70%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
    transition: transform 1s ease-in-out;
}
